@font-face{font-family: 'Poppins';
src: url('Poppins-Regular.ttf');
src: local('Poppins-Regular'), local('Poppins-Regular'),
url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;}

@font-face{font-family: 'Poppins';
    src: url('Poppins-Bold.ttf');
    src: local('Poppins-Bold'), local('Poppins-Bold'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;}