@import "./normalize.css";
@import "./fonts.css";

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.site-logo {
    font-weight: 400;
    font-size: 33.18px;
    line-height: 120%;
    color: #fff;
}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
}

.picture-background {
    background-image: url(../images/background-index-1.jpg);
    background-size: 100%;
    height: 800px;
    color: #fff;
    background-repeat: no-repeat;
}


.language-icon {
    display: inline-block;
    height: 17px;
    width: 29px;
}

.menu-icon {
    display: inline-block;
    height: 10px;
    width: 25px;
}